# ignore Directory in clonecoding
clonecoding/cifar10/data/*
!clonecoding/cifar10/data/.gitkeep

clonecoding/cifar10_2/data/*
!clonecoding/cifar10_2/data/.gitkeep

clonecoding/mnist/data/*
!clonecoding/mnist/data/.gitkeep

clonecoding/mnist_2/data/*
!clonecoding/mnist/data/.gitkeep

clonecoding/fashion-mnist/data/*
!clonecoding/fashion-mnist/data/.gitkeep

clonecoding/fashion-mnist_2/data/*
!clonecoding/fashion-mnist/data/.gitkeep


# another Directory